
<!DOCTYPE html>
<html>
<head>
  <title>Tabelle</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="./assets/css/photon.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <!-- Javascript -->
  <script src="node_modules/tableexport/dist/js/tableexport.js"></script>
</head>
<body>

  <div class="window">
    <!-- .toolbar-header sits at the top of your app -->
    <header class="toolbar toolbar-header">

    </header>

    <!-- Your app's content goes inside .window-content -->
    <div class="window-content">

      <!-- Seiten Navigation -->
      <div class="pane-group">


    
      </div>
    </div>
  </div>
</body>
</html>
